script(src="/deck.js/jquery-1.7.min.js")
script(src="/deck.js/core/deck.core.js")
script(src="/deck.js/extensions/hash/deck.hash.js")
script(src="/deck.js/extensions/menu/deck.menu.js")
script(src="/deck.js/extensions/goto/deck.goto.js")
script(src="/deck.js/extensions/status/deck.status.js")
script(src="/deck.js/extensions/navigation/deck.navigation.js")

script
  $(function() {
    $.deck('.slide');
  });
