// deck.js styles
link(rel='stylesheet', href='/deck.js/core/deck.core.css')
link(rel='stylesheet', href='/deck.js/extensions/goto/deck.goto.css')
link(rel='stylesheet', href='/deck.js/extensions/menu/deck.menu.css')
link(rel='stylesheet', href='/deck.js/extensions/navigation/deck.navigation.css')
link(rel='stylesheet', href='/deck.js/extensions/status/deck.status.css')
link(rel='stylesheet', href='/deck.js/extensions/hash/deck.hash.css')

// deck.js themes
link(rel='stylesheet', href='/deck.js/themes/style/neon.css')
link(rel='stylesheet', href='/deck.js/themes/transition/horizontal-slide.css')

// deck.js custom build of modernizr
script(src='/deck.js/modernizr.custom.js')
